apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
configMapGenerator:
  - name: frigate-helmchart-values-override
    namespace: frigate
    files:
      - values.yaml=frigate-values.conf
configurations:
  - kustomizeconfig.yaml