apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - name: frigate-helmchart-values-override
    namespace: frigate
    files:
      - values.yaml=frigate-values.yaml
configurations:
  - ./kustomizeconfig.yaml
resources:
  - helm-release.yaml
  - frigate.yaml
